# Environment variables and virtual environment
.env
.venv/

# Python Caches
**/__pycache__/
*.pyc

# IDE / Editor folders
.vscode/
.idea/

# Log files
*.log
*.jsonl

# Local Data, Caches, and Uploads
processed/
uploads/
src/vecdb/

# FOLDERS WITH SENSITIVE OR REDUNDANT DATA
# Ignoring 'data' because it contains secured information
data/
# Ignoring 'notebooks' as they are considered redundant
notebooks/